 Copyright (c) 2009-2010 The apivk.googlecode.com project Authors.
 Copying and distribution of this file, with or without modification, are
 permitted provided the copyright notice and this notice are preserved.
