
		/**
		 * 
		 *
		 * @param 
		 *
		 * @see 
		 */
		public static function (
		                        xxx: String,
		                        ): URLRequest
		{
			APIVK.addPar('', );
			return APIVK.req('');
		}
